In [4]:
import pandas as pd
import numpy as np

In [7]:
s = pd.Series([1,2,5,np.nan,6,8])
s

0     1
1     2
2     5
3   NaN
4     6
5     8
dtype: float64

In [8]:
A=np.random.randn(6,4)
A

array([[-2.31110544, -0.68572736, -0.50180549,  0.08088994],
       [ 0.41857697,  0.59586388,  0.48923211, -0.39707218],
       [ 1.30723272,  0.08925743, -0.4311456 ,  0.94196246],
       [-2.0679277 , -1.09847181, -0.30874802,  0.48264643],
       [ 2.05975912, -0.20133672,  0.40824631, -0.45675834],
       [-1.02110182, -0.73463524, -0.87191471, -0.02824582]])

In [11]:
pd.DataFrame(A,
             columns=["age","height","weight","color"],
             index=["a","b","c","d","e","f"])

        age    height    weight     color
a -2.311105 -0.685727 -0.501805  0.080890
b  0.418577  0.595864  0.489232 -0.397072
c  1.307233  0.089257 -0.431146  0.941962
d -2.067928 -1.098472 -0.308748  0.482646
e  2.059759 -0.201337  0.408246 -0.456758
f -1.021102 -0.734635 -0.871915 -0.028246

In [16]:
df2 = pd.DataFrame({ 'A' : 1.,
   ....:                      'B' : pd.Timestamp('20130102'),
   ....:                      'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
   ....:                      'D' : np.array([3] * 4,dtype='int32'),
   ....:                      'E' : pd.Categorical(["test","train","test","train"]),
   ....:                      'F' : 'foo' })

df2.columns

Index([u'A', u'B', u'C', u'D', u'E', u'F'], dtype='object')

In [17]:
for row_names in df2.index:
    print row_names

0
1
2
3

In [18]:
df2["A"]

0    1
1    1
2    1
3    1
Name: A, dtype: float64

In [19]:
df2.T

,0,1,2,3
A,1,1,1,1
B,2013-01-02 00:00:00,2013-01-02 00:00:00,2013-01-02 00:00:00,2013-01-02 00:00:00
C,1,1,1,1
D,3,3,3,3
E,test,train,test,train
F,foo,foo,foo,foo

In [20]:
df2["T"]=[1,2,"bob","joe"]

In [21]:
df2.T

,0,1,2,3
A,1,1,1,1
B,2013-01-02 00:00:00,2013-01-02 00:00:00,2013-01-02 00:00:00,2013-01-02 00:00:00
C,1,1,1,1
D,3,3,3,3
E,test,train,test,train
F,foo,foo,foo,foo
T,1,2,bob,joe

In [24]:
df2.max(axis=0)

A                      1
B    2013-01-02 00:00:00
C                      1
D                      3
E                  train
F                    foo
T                    joe
dtype: object

In [26]:
df2.mean(axis=1)

0    1.666667
1    1.666667
2    1.666667
3    1.666667
dtype: float64

In [28]:
df2.mean(axis=0)

A    1
C    1
D    3
dtype: float64

In [30]:
df2.loc[0,:]

A                      1
B    2013-01-02 00:00:00
C                      1
D                      3
E                   test
F                    foo
T                      1
Name: 0, dtype: object

In [31]:
df2.loc[[0,1],["C","D"]]

   C  D
0  1  3
1  1  3

In [32]:
for val, group_val in df2.groupby("E"):
    print val

test
train

In [33]:
df2.groupby("E").mean()

       A  C  D
E
test   1  1  3
train  1  1  3